[submodule "public"]
	path = public
	url = github:ninthday/ninthday.github.io.git
	branch = master
[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = github:ninthday/hugo-nuo.git
    branch = master
